* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: darkgrey;
}

#viz {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}

#x-axis path .x-axis line {
  shape-rendering: crispEdges;
}
#x-axis text {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
}
#y-axis path,
#y-axis line {
  shape-rendering: crispEdges;
}
#y-axis text {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
}

#tooltip {
  color: white;
  position: absolute;
  display: flex;
  width: 80px;
  height: 100px;
  padding: 10px;
  font: 12px sans-serif;
  background: rgba(0, 0, 0, 0.8);
  border: 2px solid black;
  border-radius: 4px;
  pointer-events: none;
}
