* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#viz {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}

#x-axis path .x-axis line {
  shape-rendering: crispEdges;
}
#x-axis text {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
}
#y-axis path,
#y-axis line {
  shape-rendering: crispEdges;
}
#y-axis text {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
}
