* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: darkgrey;
}

#viz {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}

#x-axis path .x-axis line {
  shape-rendering: crispEdges;
}
#x-axis text {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
}
#y-axis path,
#y-axis line {
  shape-rendering: crispEdges;
}
#y-axis text {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
}

#popover {
  color: white;
  position: absolute;
  display: flex;
  padding: 10px;
  opacity: 0;
  font: 12px sans-serif;
  background: rgba(0, 0, 0, 0.8);
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  pointer-events: none;
  transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}

#popover:hover {
  cursor: pointer;
}

#popContainer {
  position: absolute;
}
